@media all and (max-width: 1000px) {
    .main {
        background-position-x: 50%;
    }

    .top-wrapper .container h1 {
        font-size:  30px;
    }

    .top-wrapper .container h2 {
        font-size:  25px;
    }

    .email input {
        padding: 10px;
    }

    .email .submit {
        padding: 10px;
        font-size: 20px;
    }

    .content-txt h1 {
        font-size: 50px;
        margin: 0;
    }

    .content-txt p {
        font-size: 20px;
        margin-top: 15px;
    }

    hr {
        border: 3px solid white;
    }
}

@media all and (max-width: 670px) {
    .main {
        background-size: 400%;
        background-position-x: 50%;
    }

    .top-wrapper .container {
        width: 80%;
    }

    .top-wrapper .container h1 {
        font-size:  28px;
    }

    .top-wrapper .container h2 {
        font-size:  22px;
    }

    .email {        
        flex-direction: column;
        align-items: center;
    }

    .email input {
        width: 90%;
    }

    .email .submit {
        margin-top: 20px;
        font-size: 20px;
        width: 100px;
        padding: 10px;
    }

    .content {
        max-width: 600px;
        flex-direction: column;
    }

    .content:nth-of-type(2n) {
        flex-direction: column;
    }

    .content div {
        flex: 2;
        padding: 30px;
    }

    .content-txt h1 {
        font-size: 30px;
        margin: 0;
    }

    .content-txt p {
        font-size: 16px;
        margin-top: 10px;
    }

    hr {
        border: 2px solid white;
    }
}