html {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    padding-top: 10px;
}

header div {
    flex: auto;
}

.header-logo {
    font-family: 'Staatliches';
    font-size: 50px;
    color: #df0712;
}

.header-logo p {
    margin: 0;
    padding: 10px 50px;
}

.header-list {
    display: flex;
    align-items: center;
	justify-content: flex-end;
    margin-right: 50px;
}

.header-list a {
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
}

header .btn {
    padding: 8px 20px;
    margin: 10px;
    border-radius: 5px;
}

header .login {
    background-color: #df0712;
}

header .login:hover {
    background-color: #f50410;
}

header .login:active {
    background-color: #99040b;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main {
    color: white;
    background-size: cover;
    height: 650px;
    min-height: 600px;
    animation-name: mainbg;
    animation-duration: 60s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes mainbg {
    0%, 15% {background-image: url(assets/background1.jpg);}
    25%, 45% {background-image: url(assets/background2.jpg);}
    55%, 75% {background-image: url(assets/background3.jpg);}
    85%, 100% {background-image: url(assets/background4.jpg);}
}

.top-wrapper {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: rgb(22,23,23);
    background: linear-gradient(90deg, rgba(22,23,23,0.48503151260504207) 100%, rgba(180,180,180,0.5018382352941176) 100%);
}

.top-wrapper .container {
    max-width: 1170px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-wrapper .container h1 {
    font-size:  50px;
    margin-bottom: 0;
    margin-top: 0;
}

.top-wrapper .container h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: normal;
}

.top-wrapper .container p {
    font-size: 17px;
    margin-top: 50px;
}

.email {
    display: flex;
    width: 90%;
    height: 60px;
}

.email input, button {
    flex: auto;
}

.email input {
    font-size: 15px;
    padding: 10px;
    flex-grow: 6;
    border: none;
}

.email .submit {
    font-size: 150%;
    background-color: #df0712;
    color: white;
    border: none;
    cursor: pointer;
    float: left;
}

.email .submit:hover {
    background-color: #f50410;
}

.email .submit:active {
    background-color: #99040b;
}

.content-wrapper {
    width: 100%;
    margin: 0;
}

.content {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

hr {
    border: 5px solid white;
    opacity: 0.1;
    margin: 0;
}

.content:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.content div {
    flex: 2;
    padding: 50px;
}

.content-icon img {
    width: 100%;
}

.content-txt h1 {
    font-size: 70px;
    margin: 20% 0 0 0;
}

.content-txt p {
    font-size: 20px;
    margin-top: 20px;
}

.content-bottom{
    padding: 150px 0;
}

.content-bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-bottom .heading {
    font-size: 30px;
}

.button {
    display: flex;
}

.button a {
    width: 200px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px;
    background-color: #df0712;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}

.button .free {
    background-color: grey;
}

.button .free:hover {
    background-color: rgb(138, 138, 138);
}

.button .free:active {
    background-color: rgb(78, 78, 78);
}

.button .premium:hover {
    background-color: #f50410;
}

.button .premium:active {
    background-color: #99040b;
}

footer {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer div {
    flex: auto;
}

.copyright {
    margin-left: 30px;
}

.copyright h3 {
    color: #df0712;
    font-family: 'Staatliches';
    font-size: 50px;
    margin: 0;
}

.contact .link {
    display: flex;
}

.contact .link a {
    text-decoration: none;
    color: white;
}

.contact .link a:nth-child(n+2) {
    margin-left: 30px;
}

.contact .link a:hover {
    text-decoration: underline;
}